@import "../../styles/variables";
@import "../../styles/mixins";

.header {
  @include thinShadow;
  align-items: center;
  background: $gradient-black;
  display: flex;
  height: 64px;
  padding: 12px 0;

  &__nav {
    @include container;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding-bottom: 0 !important;
    padding-top: 0 !important;
  }

  &__logo {
    align-items: center;
    color: $secondary-color;
    background-color: $primary-color;
    border-radius: 6px;
    display: flex;
    height: 42px;
    justify-content: center;
    transition: all 150ms ease-in-out;
    width: 42px;

    svg {
      height: 30px;
      width: 30px;
    }

    &:hover {
      background-color: $secondary-color;
      color: $primary-color;
    }
  }

  &__links {
    align-items: center;
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }

  &__link {
    @include thinnerShadow;
    align-items: center;
    background-color: $primary-color;
    border-radius: 6px;
    display: flex;
    height: 36px;
    justify-content: center;
    padding: 3px;
    transition: all 150ms ease-in-out;
    width: 36px;

    svg {
      color: $secondary-color;
      height: 30px;
      width: 30px;
    }

    &:hover {
      background-color: $secondary-color;

      svg {
        color: $primary-color;
      }
    }
  }

  &__link {
    align-items: center;
    display: flex;
    justify-content: center;
  }

  &__avatar {
    background-color: $primary-color;
    border: 3px solid $primary-color;
    border-radius: 6px;
    height: calc(42px - 3px * 2);
    overflow: hidden;
    position: relative;
    width: calc(42px - 3px * 2);
    transition: all 150ms ease-in-out;

    img {
      position: relative;
      width: 100%;
      z-index: 1;
    }

    > span {
      color: $secondary-color;
      font-size: 16px;
      font-weight: 700;
      left: 50%;
      letter-spacing: 1px;
      line-height: 16px;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
    }

    &:hover {
      border: 3px solid $secondary-color;
    }
  }
}
