@import "../../styles/settings";

.local-details {
  background-color: $grey-color-lighter;

  &__header {
    @include thinShadow;
    background-color: $grey-color-lighter;
    height: 70px;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: $navbar-z-index;

    &-container {
      @include container;
      align-items: flex-start;
      display: flex;
      padding-bottom: 15px !important;
      padding-top: 15px !important;
      height: calc(100% - 15px * 2);
    }

    &-title {
      @include titleSmall;
      color: $black-alt-color;
      width: 100%;
    }

    &-button {
      @include lightShadow;
      @include buttonSquarePrimary;
      border-radius: 8px;
      padding: 8px;
    }
  }

  &__content {
    margin: 70px 0 0;
  }

  &__container {
    @include container;
  }

  &__section {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
  }

  &__image {
    @include thinShadow;
    border-radius: 16px;
    height: 200px;
    overflow: hidden;
    position: relative;
    width: 100%;

    img {
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
    }

    .local-details {
      &__edit-button {
        border-radius: 16px 0 0 0;
        bottom: 0;
        height: 40px;
        margin: 0;
        padding: 8px;
        position: absolute;
        right: 0;
        width: 40px;
        z-index: 2;
      }
    }
  }

  &__edit-button {
    @include thinnerShadow;
    align-items: center;
    background-color: $primary-color;
    border-radius: 4px;
    color: $white-color;
    display: flex;
    justify-content: center;
    height: 15px;
    margin: 0 0 0 15px;
    opacity: 0;
    padding: 8px;
    pointer-events: none;
    width: 15px;
    transition: all 120ms ease-in-out;

    &:hover {
      background-color: $white-color;
      color: $primary-color;
    }
  }

  &__title {
    @include title;
    align-items: center;
    color: $black-alt-color;
    display: flex;
    margin: 16px 0 0;
    text-align: left;
  }

  &__subtitle {
    @include titleSmall;
    align-items: center;
    color: $black-alt-color;
    display: flex;
    margin: 0 0 12px;
    text-align: left;
  }

  &__description {
    @include description;
    margin: 0 0 12px;
    text-align: left;

    &--info {
      margin: 0 0 6px;
    }

    span {
      color: $black-alt-2-color;
      font-weight: 600;
    }
  }

  &__list {
    align-items: center;
    display: flex;
    gap: 8px;

    &-item {
      position: relative;

      &:hover span {
        opacity: 1;
        transform: translate(-50%, 0);
      }

      span {
        @include thinShadow;
        background-color: $primary-color;
        border-radius: 4px;
        color: $white-color;
        font-weight: 500;
        left: 50%;
        opacity: 0;
        padding: 2px 3px;
        pointer-events: none;
        position: absolute;
        top: -24px;
        transform: translate(-50%, -5px);
        transition:
          opacity 200ms ease-in-out,
          transform 450ms $animation-bubble;
        width: max-content;
        z-index: 2;
      }
    }

    &-link {
      @include thinnerShadow;
      @include buttonSquarePrimaryReversed;
      align-items: center;
      display: flex;
      justify-content: center;
    }
  }

  &__hr {
    background-color: $grey-color-light;
    height: 1px;
    margin: 16px 0;
    width: 100%;
  }

  &__author {
    @include thinnerShadow;
    align-items: center;
    background-color: $primary-color;
    border-radius: 8px;
    display: flex;
    gap: 10px;
    padding: 12px 16px;
    transition: all 250ms $animation-bubble;
    transform: translate(0, 0);

    &:hover {
      background-color: $black-alt-color;
      transform: translate(10px, 0);
    }

    &-image {
      @include thinShadow;
      border-radius: 50%;
      height: 50px;
      width: 50px;
    }

    &-content {
      color: $white-color;
      display: flex;
      flex-direction: column;
      gap: 2px;
    }

    &-username {
      font-weight: 600;
    }
  }

  &__image:hover,
  &__title:hover,
  &__subtitle:hover {
    .local-details__edit-button {
      opacity: 1;
      pointer-events: all;
    }
  }
}
