@import "../../styles/settings";

.browse {
  &__container {
    @include container;
    padding-top: 80px !important;
    position: relative;
  }

  &__title {
    @include title;
    color: $black-color;
    text-align: left;
  }

  &__list {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
  }

  &__description {
    @include description;
    text-align: left;
  }
}
