@import "../../styles/settings";

.local-card {
  @include thinnerShadow;
  background-color: $white-color;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-width: 100%;
  padding: 10px;
  width: 100%;

  @media screen and (min-width: 768px) {
    max-width: calc(100% / 3 - (13px * 2));
  }

  &__title {
    @include titleSmall;
    color: $black-color;
    text-align: left;
  }

  &__image {
    @include thinShadow;
    border-radius: 16px;
    height: 200px;
    overflow: hidden;
    position: relative;

    img {
      min-height: 200px;
      width: 100%;
    }

    .rating-stars {
      background-color: rgba(0, 0, 0, 0.4);
      position: absolute;
      padding: 8px;
      right: 0;
      top: 0;

      &__container {
        overflow: hidden;
      }

      &__form {
        position: static;

        &:hover {
          .rating-stars__message-box {
            opacity: 1;
            transform: translate(-50%, 0);
          }
        }
      }

      &__value {
        font-size: 14px;

        &-avg {
          color: $white-color !important;
        }
      }

      &__message-box {
        bottom: -20px;
        left: 50%;
        top: auto;
        transform: translate(-50%, -5px);
      }
    }
  }

  &__categories {
    align-items: center;
    display: flex;
    gap: 8px;
  }

  &__category {
    @include lightShadow;
    @include buttonPrimaryReversed;
    border-radius: 8px;
    font-size: 12px;
    font-weight: 400;
    padding: 2px 6px;
  }

  &__details {
    @include lightShadow;
    @include buttonPrimary;
  }
}
