@import "../../styles/variables";
@import "../../styles/mixins";

.browse-header {
  background: $gradient-black;
  max-height: 300px;

  &__container {
    @include container;
    padding-top: 30px !important;
    position: relative;
  }

  &__content {
    display: flex;
    flex-direction: column;
  }

  &__description {
    @include description;
    text-align: left;
  }

  &__title {
    @include titleSmall;
    text-align: left;
    margin: 8px 0 24px 0;
  }
}
