@import "./variables.scss";

@mixin regularShadow {
  box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.47);
  -webkit-box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.47);
  -moz-box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.47);
}

@mixin lightShadow {
  box-shadow: 0px 3px 16px -4px rgba(0, 0, 0, 0.47);
  -webkit-box-shadow: 0px 3px 16px -4px rgba(0, 0, 0, 0.47);
  -moz-box-shadow: 0px 3px 16px -4px rgba(0, 0, 0, 0.47);
}

@mixin thinShadow {
  box-shadow: 0px 2px 22px -6px rgba(0, 0, 0, 0.47);
  -webkit-box-shadow: 0px 2px 22px -6px rgba(0, 0, 0, 0.47);
  -moz-box-shadow: 0px 2px 22px -6px rgba(0, 0, 0, 0.47);
}

@mixin thinnerShadow {
  box-shadow: 3px -4px 18px -10px rgba(0, 0, 0, 0.47);
  -webkit-box-shadow: 3px 4px 18px -10px rgba(0, 0, 0, 0.47);
  -moz-box-shadow: 3px -4px 18px -10px rgba(0, 0, 0, 0.47);
}

@mixin thinnerRightShadow {
  box-shadow: 4px 10px 18px -10px rgba(0, 0, 0, 0.47);
  -webkit-box-shadow: 4px 10px 18px -10px rgba(0, 0, 0, 0.47);
  -moz-box-shadow: 4px 10px 18px -10px rgba(0, 0, 0, 0.47);
}

@mixin zeroShadow {
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}

@mixin scrollbar {
  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $grey-color-dark;
    border: 3px solid $grey-color-dark;
    cursor: pointer;

    &:active {
      background-color: $grey-color-dark;
      border: 3px solid $grey-color-dark;
    }
  }

  &::-webkit-scrollbar-track {
    background-color: $grey-color-lighter;
  }
}

@mixin container {
  height: calc(100% - 20px * 2);
  max-width: 1220px;
  margin: 0 auto;
  padding: 20px 10px;
  transition: all 150ms linear;
  width: calc(100% - 10px * 2);

  @media screen and (min-width: 425px) {
    height: calc(100% - 30px * 2);
    padding: 30px 15px;
    width: calc(100% - 15px * 2);
  }

  @media screen and (min-width: 768px) {
    height: calc(100% - 60px * 2);
    padding: 60px 30px;
    width: calc(100% - 30px * 2);
  }
}

@mixin buttonBase {
  @include lightShadow;
  align-items: center;
  border: 0;
  border-radius: 16px;
  display: flex;
  font-size: 16px;
  font-weight: 700;
  justify-content: center;
  gap: 4px;
  line-height: 28px;
  text-align: center;
  transition: all 150ms ease-out;

  span {
    align-items: center;
    display: flex;
    font-weight: 700;
    justify-content: center;
    height: 20px;
    width: 20px;
  }
}

@mixin button {
  @include buttonBase;
  padding: 16px 20px;
}

@mixin buttonSquare {
  @include buttonBase;
  padding: 16px;
}

@mixin buttonPrimary {
  @include button;
  background-color: $primary-color;
  color: $white-color;

  &:hover {
    background-color: $white-color;
    color: $primary-color;
  }
}

@mixin buttonPrimaryReversed {
  @include button;
  background-color: $white-color;
  color: $primary-color;

  &:hover {
    background-color: $primary-color;
    color: $white-color;
  }
}

@mixin buttonSquarePrimary {
  @include buttonSquare;
  background-color: $primary-color;
  color: $white-color;

  &:hover {
    background-color: $white-color;
    color: $primary-color;
  }
}

@mixin buttonSquarePrimaryReversed {
  @include buttonSquare;
  background-color: $white-color;
  color: $primary-color;

  &:hover {
    background-color: $primary-color;
    color: $white-color;
  }
}

@mixin title {
  color: $white-color;
  text-align: center;
  font-family: $font-work-sans;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: 0.16px;
}

@mixin titleSmall {
  color: $white-color;
  text-align: center;
  font-family: $font-work-sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: 0.16px;
}

@mixin description {
  color: $grey-color-dark;
  text-align: center;
  font-family: $font-work-sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.14px;
}
