$black-color: #000000;
$primary-color: #c67c4e;
$secondary-color: #d9f6f8;
$white-cream: #fdfad9;
$white-color: #ffffff;
$grey-color: #ecf0f6;
$grey-color-darker: #a2a2a2;

$gradient-black: linear-gradient(-90deg, #111111, #313131);

$font-work-sans: var(--font-work-sans), sans-serif;

$animation: cubic-bezier(0.55, -0.19, 0.59, 1.45);
$animation-2: cubic-bezier(0.55, -0.19, 0.59, 0.95);

$bottom-padding: 34px;
$navbar-offset: 64px;
