$black-color: #000000;
$primary-color: #6256ca;
$secondary-color: #d9f6f8;
$white-cream: #fdfad9;
$grey-color: #ecf0f6;
$grey-color-darker: #767676;

$font-work-sans: var(--font-work-sans), sans-serif;

$animation: cubic-bezier(0.55, -0.19, 0.59, 1.45);
$animation-2: cubic-bezier(0.55, -0.19, 0.59, 0.95);
